@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container form {
    margin-top: 35px;
}

.login-box {
    width: 345px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
}

.logo img {
    width: 50px;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: 	#5718de;
}

h3 {
    border-bottom: 4px solid black; /* Thick underline */
    padding-bottom: 5px; /* Add space between text and underline */
    margin-bottom: 20px; /* Add space between h2 and form */
}

.login-box h3 {
    margin-bottom: 25px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-field input:focus + label,
.input-field input:valid + label {
    top: 0;
    font-size: 12px;
    color: #333;
}

.login-button {
    background-color: #5718de;
    color: #fff;
    border: none;
    padding: 10px 65px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

.login-button:hover {
    background-color: #a528ff;
}

form {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

.forgot-password {
    text-decoration: none;
    text-align: right;
    font-size: 13px;
}